doctype html
html
	head
		title Producten
		link(rel='stylesheet', type='text/css', href='stylesheets/stylesheet.css')
		link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Aldrich')
		link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Abel')
		meta(name='description', content='Koop hier de beste kant-en-klare laptop voor de laagste prijs!')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='keywords', content='Laptop, Koleon, op maat, hardware, CPU, GPU, customised, customized, pc, computer, memes, Harambe')
		meta(name='author', content='Koleon')
		meta(name='copyright', content='© 2017 Koleon')
		meta(name='content-language', content='nl')
		meta(http-equiv='content-type', content='text/html; charset=UTF-8')
		meta(http-equiv='default-style', content='stylesheets/stylesheet.css')
		meta(name='robots', content='index, follow')
		link(rel='icon', href='images/icon.png', sizes='256x172', type='image/png')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(src='javascripts/generic.js', defer='')
		script(src='javascripts/producten.js')
		script(src='javascripts/comments.js', defer='')
		link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
		script(src='https://cdn.jsdelivr.net/jquery.ui-contextmenu/1.14.0/jquery.ui-contextmenu.min.js')
	body
		.container
			nav
				button.startLogin(onclick="document.getElementById('id01').style.display='block'") Login
				ul
					li
						img#logo(alt='koleon logo', src='images/logo_koleon.png')
					li
						a(href='index.html') Koleon
					li
						a(href='producten.html') Producten
					li
						a(href='diensten.html') Laptop Samenstellen
					li
						a(href='contact.html') Contact
					li
						a(href='overons.html') Over Koleon
				a(href='winkelmandje.html')
					img(src='images/shopping-cart-white.png', alt='shopping cart', id='wínkelmandje')
					#shoppingCartNumber 0
				input.search(type='text', name='search', placeholder='Zoeken..')
			section.content
				h2.w3-warning W3
				div(style='overflow-x:auto;')
					section.orderProductsContainer
						div.orderProducts 	
							| Sorteren op: 
							select
								option(value='priceLow') Prijs - Laag naar hoog
								option(value='priceHigh') Prijs - Hoog naar Laag
								option(value='naamAZ') Naam - van A tot Z
								option(value='naamZA') Naam - van Z tot A
					aside.sortProductsContainer
						div.sortProducts
							p Schermgrootte
							input(type='checkbox', name='13in', value='13 inch')
							| 13 inch
							br
							input(type='checkbox', name='15in', value='15 inch')
							| 15 inch
							br
							input(type='checkbox', name='17in', value='17 inch')
							| 17 inch						
						div.sortProducts
							p Merk
							input(type='checkbox', name='13in', value='Dell')
							| Dell
							br
							input(type='checkbox', name='15in', value='HP')
							| HP
							br
							input(type='checkbox', name='17in', value='Asus')
							| Asus
							br
							input(type='checkbox', name='17in', value='Acer')
							| Acer
					table.producten
						tbody
							each product, i in products
								td(id='product#{i}' onclick='activateModal("#{product.productID}", "#{product.productName}", #{product.price}, "#{product.description}", "#{product.image}")')
									img(src='images/products/#{product.image}', alt='#{product.productName}')
									br
									| #{product.productName}
									br
									| €#{product.price}-
					#myModal.modal
						.modal-content
							.modal-header
								span.close ×
								h2#modalheadertext Modal Header
							.modal-body
								img#modalimg(src='javascript:void(0)', alt='modalimg')
								p#modaltext Some text in the Modal Body
								br(style='clear:both;')
							.modal-footer
								button#modalbestel Bestel nu!
								br(style='clear:both;')
				article.commentsArticle
					.container_comments
						h2 Comments 
						form(onsubmit='event.preventDefault();')
							input#nickname(type='text', placeholder='Nickname')
							input#commentBox(type='text', placeholder='Comment')
							button#sendComment  Verstuur 
						br
						p#commentText No comments yet
			footer
				ul
					li
						a(href='') Algemene voorwaarden
					li
						a(href='') Cookies
					li
						a(href='') Privacy
					li
						a(href='') Carrière
					li
						a(href='') Over Koleon
				br
				a(href='https://www.w3schools.com/', target='_blank', style='margin-right:-100px;') Deze site is mogelijk gemaakt door w3schools
